[submodule "third_party/cvfpu"]
	path = third_party/cvfpu
	url = https://github.com/RanxiChen/cvfpu.git
[submodule "third_party/riscv-tests"]
	path = third_party/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
