*/.metals/*
.vscode/
*/.bloop/*
design/target/
design/project/*
.metals/
*/build/*
*/obj_dir/*
*.elf
*/obj_dir/
*/*.vcd
*.log
*.vcd
obj_dir/
*raw
*.hex
*.o
*.bin
*.mem
## vivado
*.runs/
*.cache/
*.hw/
*.sim/
*.ip_user_files/
*.xpr
*_tmp*
.Xil/
*.jou
build/
*.rpt
*.dcp
*.bit

## IDE
*/.idea/
*/.bsp/
*.idea/

## litex
analyzer.csv
csr.csv
__pycache__/

# generated
generated/*

# tinycore litex sim
litex_sim_dir/tinysoc/build/
litex_sim_dir/tinysoc/__pycache__/
litex_sim_dir/tinysoc/_litex_sim_core/

# sim/ICache
sim/ICache/*.vcd
sim/ICache/cmake-*
sim/ICache/rtl/

sim/*/rtl/
sim/*/cmake-*

