*/.metals/*
.vscode/
*/.bloop/*
design/target/
design/project/*
.metals/
*/build/*
*/obj_dir/*
*.elf
*/obj_dir/
*/*.vcd
*.log
*.vcd
obj_dir/
*raw
*.hex
*.o
*.bin
*.mem
## vivado
*.runs/
*.cache/
*.hw/
*.sim/
*.ip_user_files/
*.xpr
*_tmp*
.Xil/
*.jou
build/
*.rpt
*.dcp
*.bit